<!-- Botón para lograr realziar una nueva conexion dblink -->
<div style="float:left;padding-top:2%;">
    <button type="button" data-toggle="modal" data-target="#loginModal" class="btn btn-success">Realizar nueva conexión.</button>
</div>
<!---->

<!-- Modal para la autenticacion de conexión a un nuevo nodo-->
<div class="modal fade special-card" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="loginModallLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="loginModal">Ingrese los credenciales solicitados</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label class="col-form-label">Ip del Servidor Nodo:</label>
                        <input type="text" [(ngModel)]="ipServer" name="ipServer" placeholder="Ej: 127.0.0.1" class="form-control" id="ip-name" required>
                    </div>
                    <div class="form-group">
                        <label class="col-form-label">Base de datos:</label>
                        <input type="text" [(ngModel)]="database" name="database" class="form-control" id="dbname" required>
                    </div>
                    <div class="form-group">
                        <label class="col-form-label">Usuario:</label>
                        <input type="text" [(ngModel)]="user" name="user" class="form-control" id="username">
                    </div>
                    <div class="form-group">
                        <label class="col-form-label">Contraseña:</label>
                        <input type="text" [(ngModel)]="pasw" name="pasw" class="form-control" id="pass">
                    </div>

                </form>
            </div>
            <div class="modal-footer">
                <button type="button" id="closemodal" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                <button type="button" (click)="pruebaNodo()" class="btn btn-success">Conectar</button>
            </div>
        </div>
    </div>
</div>
<!---->


<!-- Generador de Conexiones a nodos de manera grafica -->
<div style="padding-top:5%;padding-left:0%;">
    <div *ngFor="let nodo of listaNodo;let i=index;" style="padding-top:1%;padding-left:0%;">
        <div class="card bg-light mb-3" style="max-width: 18rem;">
            <div class="card-body">
                <span style="color: red">  Servidor: </span>
                <span id="pServer{{i}}"> {{nodo.server}} </span><br>
                <!-- <input type="text" id="pass" disabled>-->
                <span style="color: red"> Usuario: </span>
                <span id="pUser{{i}}"> {{nodo.username}} </span><br>
                <span style="color: red"> Contraseña: </span>
                <span id="pPasw{{i}}"> ***** </span><br>
                <span style="color: red"> DataBase: </span>
                <span id="pDB{{i}}"> {{nodo.database}} </span><br>
                <span style="color: red"> Alias DBlink: </span>
                <span id="pDBLink{{i}}"> {{i+1}} </span><br><br>
                <button type="button" (click)="obtenerSchemas(nodo.server,nodo.username,nodo.pasw,nodo.database,i+1)" class="btn btn-info">Usar</button><br>
                <button type="button" (click)="ConsultaQuery(nodo.server,nodo.username,nodo.pasw,nodo.database,i+1)" class="btn btn-warning">Definición de consulta.</button>
            </div>
        </div>
    </div>
</div>
<!---->


<!-- Generador de Conexiones a nodos de manera grafica -->
<div style="padding-top:5%;padding-left:40%;">
    <div *ngFor="let esquema of listaSchemas;let i=index;" style="padding-top:1%;padding-left:0%;">
        <div class="card bg-light mb-3" style="max-width: 18rem;">
            <div class="card-body">
                <span style="color: red">  Esquema: </span>
                <span id="schem{{i}}"> {{esquema.nombre}} </span><br>
                <button type="button" (click)="obtenerTablas(esquema.tabla)" class="btn btn-info">Usar</button><br>
            </div>
        </div>
    </div>
</div>